@import "./_vars";
@import "./inputs.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 16px;
}

@media (max-width: $screen-small) {
  font-size: 12px;
}

body::-webkit-scrollbar {
  display: none;
}

// body::-webkit-scrollbar {
//   width: 10px !important;
//   display: block;
//   height: 18px !important;
//   background-color: transparent;
// }
//
// body::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 10px 10px transparent;
//   border: solid 0 transparent;
//   width: 6px !important;
//   display: block;
// }
//
// body::-webkit-scrollbar-thumb {
//   box-shadow: inset 0 0 10px 10px $black;
//   border: solid 0 transparent;
// }
