@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Share+Tech+Mono&display=swap");

$share-tech: "Share Tech Mono", monospace;
$lexend: "Lexend Deca", sans-serif;

$emerald: #50c878;
$dgray: #4d5057;
$white: #eaeaea;
$black: #030303;
$blue: #1b0758;

$screen-small: 1300px;
$screen-tiny: 900px;
