.palette-container {
  .palette-bar {
    width: 100%;
    min-height: 4rem;
    height: 4rem;
    transition: opacity 0.3s, height 0.3s;

    &.hide {
      height: 0;
      opacity: 0;
      transition: opacity 0.3s, height 0.3s;
    }

    background-color: transparentize($dgray, 1);
    &.empty {
      background-color: transparentize($dgray, 0.8);
    }
    display: flex;
    position: relative;

    .palette-controls {
      position: absolute;
      display: flex;
      font-size: 1rem;
      top: -2rem;

      @media (max-width: $screen-small) {
        top: -4rem;
      }

      right: 0;

      * + * {
        margin-left: 1rem;
      }

      span {
        font-family: $share-tech;
        color: #fff;
        mix-blend-mode: exclusion;
        cursor: pointer;
        text-decoration: underline;
        font-size: 1.2rem;
        padding: 0.5rem 0.25rem 0 0.25rem;
      }

      .palette-number {
        cursor: auto;
        text-decoration: none;
      }

      @media (max-width: $screen-small) {
        font-size: 1rem;
        input,
        span {
          font-size: 1em;
        }
        * + * {
          margin-left: 0;
        }
      }
    }

    @media (max-width: $screen-small) {
      flex-direction: column;
      height: auto;
    }
  }

  .palette-bar + .palette-bar {
    margin-top: 3rem;
  }

  @media (max-width: $screen-small) {
    .palette-bar + .palette-bar {
      margin-top: 5rem;
    }
  }

  .palette-pigment {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    height: 4rem;
    width: auto;
    div {
      color: $white;

      &.blackText {
        color: $black;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $share-tech;
      height: 100%;
      flex-grow: 1;
      &:nth-child(1) {
        border-right: 1px solid $white;
        border-radius: 0.15rem 0 0 0.15rem;
      }
      &:nth-child(2) {
        border-radius: 0 0.15rem 0.15rem 0;
      }
    }
  }

  .palette-pigment + .palette-pigment {
    margin-left: 1rem;
    @media (max-width: $screen-small) {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

#paletteBarTemplate,
#palettePigmentTemplate {
  display: none;
}

footer {
  width: 100%;
  height: auto;
  padding: 2rem 5rem 5rem 5rem;
  @media (max-width: $screen-tiny) {
    padding: 2rem 2rem 5rem 2rem;
  }

  @media (max-width: $screen-miniscule) {
    padding: 2rem 1rem 5rem 1rem;
  }

  position: relative;
  background-color: $white;
  color: $black;
  transition: color 0.3s, background-color 0.3s;

  body.dark & {
    background-color: $black2;
    color: $white;
    transition: color 0.3s, background-color 0.3s;
  }

  #addNewPalette {
    cursor: pointer;
    font-size: 1.25rem;
    margin-left: 1rem;
    text-decoration: underline;
  }

  h1,
  h2 {
    font-family: $lexend;
    user-select: none;
    font-size: 1.5em;
  }

  h1 {
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.15em;
    margin-bottom: 2rem;
  }

  @media (max-width: $screen-small) {
    h2 {
      margin-bottom: 5rem;
    }
  }

  #copiedNotification {
    &.copied {
      opacity: 1;
      transition: opacity 0.1s;
    }

    opacity: 0;
    transition: opacity 0.5s;
  }
}
