@import "./_vars";

#preloader {
  &.hidden {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
  }
  user-select: none;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  opacity: 1;
  transition: opacity 0.5s;
  background-color: $black;
  position: fixed;
  z-index: 9999999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .preloader-title {
    color: $white;
    font-family: $lexend;
    font-size: 7rem;
  }

  .colorbox-spinner {
    will-change: transform;
    height: 6rem;
    width: 6rem;
    border-radius: 4pt;
    overflow: hidden;
    animation: loadingSpinner 1.5s infinite ease;
    .colorbox {
      height: 100%;
      width: 100%;
      animation: colorchange 10s infinite ease;
    }
  }

  @media (max-width: $screen-small) {
    .preloader-title {
      font-size: 4rem;
    }

    .colorbox-spinner {
      height: 4rem;
      width: 4rem;
    }
  }
}
