@import "./_vars";

.update-container {
  width: 100%;
  height: auto;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
  user-select: none;

  #updateMessage {
    font-size: 1rem;

    @media (max-width: $screen-small) {
      font-size: 0.6em;
    }
    &.visible {
      opacity: 1;
      transition: opacity 0.3s;
      pointer-events: auto;
    }
    opacity: 0;
    transition: opacity 0.3s;
    background-color: $white;
    color: $black;
    font-family: $lexend;
    border: 1px solid transparentize($emerald, 0.3);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    @media (max-width: $screen-small) {
      padding: 0.25rem 0.5rem;
    }
    cursor: pointer;
    span#closeUpdateMessage {
      text-decoration: underline;
      margin-left: 1rem;
      padding-left: 1rem;
      @media (max-width: $screen-small) {
        margin-left: 0.25rem;
        padding-left: 0.25rem;
      }
      border-left: 1px solid transparentize($dgray, 0.6);
    }
  }

  padding: 2rem 4rem;
  @media (max-width: $screen-small) {
    padding: 1rem 0.2rem;
    font-size: 1.5rem;
  }
}
